<search (searchTextChanged)="setSearchText($event)"></search>
<filter
  [all]="totalProductCount"
  [inStock]="totalProductInStock"
  [outOfStock]="totalProductOutOfStock"
  (selectedFilterRadioButtonChanged)="onFilterChange($event)"
></filter>
<div class="oCart-product-item">
  <ng-container *ngFor="let prod of products">
    <div
      class="wapper"
      *ngIf="
        (searchText === '' || prod.name.toLocaleLowerCase().includes(searchText)) &&
        (selectedFilterRadioButton === 'all' ||
          prod.is_in_inventory.toString() === selectedFilterRadioButton)
      "
      (click)="selectedProduct = prod"
    >
      <product [product]="prod" [searchText]="searchText"></product>
    </div>
  </ng-container>
</div>

<product-detail *ngIf="selectedProduct" [product]="selectedProduct"> </product-detail>
<div class="oCart-featured-products">
  <div class="oCart-featured-products-heading">
    <h1>Latest Arrival in Popular Brands</h1>
  </div>

  <div class="oCart-featured-product-item">
    <h3 class="title">New Arrivals in Nike</h3>

    <p class="description">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
      been the industry's standard dummy text ever since the 1500s.
    </p>

    <button class="call-to-action">Learn More</button>
  </div>

  <div class="oCart-featured-product-item">
    <h3 class="title">New Arrivals in Nike</h3>

    <p class="description">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
      been the industry's standard dummy text ever since the 1500s.
    </p>

    <button class="call-to-action">Learn More</button>
  </div>

  <div class="oCart-featured-product-item">
    <h3 class="title">New Arrivals in Nike</h3>

    <p class="description">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
      been the industry's standard dummy text ever since the 1500s.
    </p>

    <button class="call-to-action">Learn More</button>
  </div>
</div>
